.BoxElementosDatos {
    display: grid;
    grid-template-columns: 95% 5%;
    margin-bottom: 20px;
}

.ElementosDatos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px; /* Espacio entre las columnas */
    background: rgb(224, 224, 224);
    padding: 5px;
    color: #021742;
}

.btnControls {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;

    align-items: center;
}
.btnControls div {
    display: grid;
    align-content: center;
    padding-left: 2%;
}
.btnControlsAction {
    width: 100%;
    margin: 0;
}

/* ************************
botonoes

************************** */

.edit-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #021742;
    border: none;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
}

.edit-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
}

.edit-svgIcon path {
    fill: white;
}

.edit-button:hover {
    width: 80px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #f98428;
    align-items: center;

    color: #021742;
}

.edit-button:hover .edit-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.edit-button::before {
    display: none;
    content: "Edit";
    color: #021742;
    transition-duration: 0.3s;
    font-size: 2px;
}

.edit-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
}

.delete-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #021742;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.delete-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
}

.delete-svgIcon path {
    fill: white;
}

.delete-button:hover {
    width: 90px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.delete-button:hover .delete-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.delete-button::before {
    display: none;
    content: "Delete";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.delete-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
}

.add-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #021742;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
}

.add-svgIcon {
    width: 27px;
    transition-duration: 0.3s;
}

.add-svgIcon path {
    fill: white;
}

.add-button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #f98428;
    align-items: center;

    color: #021742;
}

.add-button:hover .add-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.add-button::before {
    display: none;
    content: "Adicionar";
    color: #021742;
    transition-duration: 0.3s;
    font-size: 2px;
}

.add-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
}
