.box_card_planos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 2.5%;
}

.box_planos {
    width: 100%;
    min-width: 200px;
    color: white;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background: #021742;
    box-shadow: 0px 10px 20px 0px #000;
}
